
.smooth-border-left-to-right{
    border:2px solid #FF9800!important;
}
.wizard-icon-container {
    background-color: #FAF9F5;
}
.wizard-icon{
    color: #6f7384;
}
.wizard-icon-circle{
    background-color: #FAF9F5;
}